{% load static%}
<!doctype html>
<html lang="en">
<!-- notes
fix navi header, make center
research vue use string at media size
-->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <style>
    .top-col {
      font-family: 'Zen Tokyo Zoo', cursive;
      font-size: 4vw;
    }

    .data {
      font-family: 'Righteous', cursive;
      font-size: 2vw;
    }

    /* #app {
      background: url("{% static 'landingpageapp/background1.jpg' %}");
      background-size: cover;
    } */
    .text-nav {
      font-size: 1.5em;
      color: black;
      text-shadow: 2px 2px 2px black;
    }

    #top-bar {
      background-color: #532306 !important;
      padding: 0;
      margin: 0 auto;
    }

    #lb-pic:hover {
      transform: scale(1.5);
      box-shadow: 0px 0px 30px -6px #FFFFFF;
    }

    #lb-pic {
      box-shadow: 0px -5px 30px 3px #36D1ED;
      width: auto;
      transition-property: inherit;
      transition-duration: 1.5s;
    }

    #lb {
      background: url("{% static 'landingpageapp/david-becker-crs2vlkSe98-unsplash.jpg'%}");
      background-size: cover;
    }

    #code_chal {
      color: #F9F0FE;
      text-shadow: 4px 4px #706f6f;
    }

    body {
      background-color: #8C3B0D;
    }

    #link_btns {
      text-overflow: ellipsis !important;
      overflow: hidden;
      white-space: nowrap;

    }

    #foot {
      background-color: #662c0a;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    a,
    button {
      text-decoration: none !important;
    }

    .accordion-button {
      background-color: #c35e24 !important;
    }

    .accordion-collapse {
      background-color: #c35e24;
    }

    #top-bar {
      border-radius: 15px;
    }

    #link-box {
      font-family: 'Amatic SC', cursive;
      font-size: 2.5rem;
    }
  </style>
  <title>coding challenges</title>

</head>

<body>
 
  <div class="container mt-1" id="top-bar">
    <div class="row justify-content-center text-center no-wrap" id="intro-box">
      <div class="col-sm-4 ">
        <a href="{% url 'landingpageapp:home_page'%}">
          <p class="text-nav">Home</p>
        </a>
      </div>
      <div class="col-sm-4 ">
        <a href="{% static 'landingpageapp/projects_edited.jpg'%}">
          <p class="text-nav">Projects</p>
        </a>
      </div>
      <div class="col-sm-4 ">
        <a href="{% url 'landingpageapp:index'%}">
          <p class="text-nav">Blog</p>
        </a>
      </div>
    </div>

  </div>
  <div class='row text-center'>
    <div class="col">
      <a target="_blank" href="https://www.codewars.com/users/Will-max-bit"><img class="text-center"
          src="https://www.codewars.com/users/Will-max-bit/badges/small"></a>
    </div>
  </div>

  <div class="modal fade" id="navigation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nav Panel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
          <div class="row">
            <div class="col">
              <a style="text-decoration: none !important; color:black !important;"
                href="{% url 'landingpageapp:home_page'%}">
                <img id='imgs' src="{% static 'landingpageapp/home.jpg'%}" class="img-thumbnail"
                  style="max-height: 50%;" alt="">
                <h5 class="text-left">Home</h5>
              </a>
            </div>
            <div class="col">
              <a style="text-decoration: none !important; color:black !important"
                href="{% url 'landingpageapp:projects'%}">
                <img id='imgs' src="{% static 'landingpageapp/projects_edited.jpg'%}" class="img-thumbnail"
                  style="max-height: 50%;" alt="">
                <h5 class="text-center">Projects</h5>
              </a>
            </div>
            <div class="col">
              <a style="text-decoration: none !important; color:black !important"
                href="{% url 'landingpageapp:index'%}">
                <img id='imgs' src="{% static 'landingpageapp/blog_edited.jpg'%}" class="img-thumbnail"
                  style="max-height: 50%;" alt="">
                <h5 class="text-center">Learning blog</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer container justify-content-center">
          <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Modal -->
  <div id="app">

    <div class="container">
      <div class="row mb-0">
        <div class="col">
          <p class="text-center" id="link-box"> Box of challenge button links </p>
        </div>
      </div>


      <!-- start of accordion -->
      <div class="row mt-0 mb-2">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Click for the links to my most recent challenges
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="row text-center">
                  <div class="col" v-for="(value, name) in completeCodeDatum">

                    <a target="_blank" v-bind:href="[[value]]" id="link_btns" class="btn btn-info my-1 mx-1"
                      role="button">[[name]]</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- end of accordion -->
        </div>
      </div>




      <div id="lb" class="container-fluid rounded">
        <p id="code_chal" class="fs-2 text-center">Some challenges I found interesting</p>
        <div class="row no-wrap text-center">
          <div class="col" v-for="(src, index) in imgs" :key="index" class="pic" @click="() => showImg(index)">
            <img id="lb-pic" style="width: 300px !important;" :src="src" class="my-1 rounded">
          </div>
        </div>
        <vue-easy-lightbox :visible="visible" :imgs="imgs" :index="index" @hide="handleHide"></vue-easy-lightbox>
      </div>
    </div>
  </div>
  <footer class="container-fluid" id="foot">
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#exampleModal">
          Contact Me
        </button>
        <button type="button" class="btn btn-dark"><a href="#intro-box">Back to the Top</a></button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body container">
                <div class="row">
                  <div class="col">
                    <a type="button" class="btn btn-outline-dark" href="mailto: dvw7juy7k@relay.firefox.com">Email
                      me</a>
                  </div>
                  <div class="col">
                    <a type="button" class="btn btn-outline-dark" href="tel:541-887-0365">Call me</a>
                  </div>
                </div>
              </div>
              <div class="modal-footer container ">
                <div class="row text-center">
                  <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-easy-lightbox@vue2/dist/vue-easy-lightbox.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    const tl = gsap.timeline();

    tl.to(".steps", {
      y: "-950px",
      duration: 20,
      repeat: -1,
      ease: "none"
    });
  </script>
  <script>
    let app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        visible: false,
        loop: true,
        index: 0,
        posts: [],
        urls: [],
        imgs: [
          'https://i.imgur.com/yg59q92.jpg',
          'https://i.imgur.com/hY1TEMt.jpg',
          'https://i.imgur.com/LEWMyHi.jpg',
          'https://i.imgur.com/T7XYsvZ.jpg',
          'https://i.imgur.com/d3Cc9LD.jpg',
          'https://i.imgur.com/3lL44Wj.jpg',
          // { src: 'https://i.imgur.com/cyL7RZb.jpg', title: 'this is title' }
        ],

        images: [],
        completedChallengesData: [],
        completeCodeDatum: []
      },
      methods: {
        CodeWars: function () {
          axios({
            url: "{% url 'landingpageapp:code_wars'%}",
            method: 'get',
          }).then(response => {
            this.posts = response.data.codewars_posts
            // console.log(response.data.codewars_posts)
            for (image of this.posts) {
              this.images.push(image['code_image'])
            }
          })
        },
        completeCodeData: function () {
          axios({
            url: "{% url 'landingpageapp:link_title'%}",
            method: 'get'
          }).then(response => {
            console.log(response.data)
            this.completeCodeDatum = response.data
          })
        },
        completedChallenges: function () {
          axios({
            url: "{% url 'landingpageapp:completed_challenges' %}",
            method: 'get',
          }).then(response => {
            this.completedChallengesData = response.data
            console.log(this.completedChallengesData)
          })
        },
        codeChallenges: function () {
          axios({
            url: "{% url 'landingpageapp:code_challenges'%}",
            method: 'get',
          }).then(response => {
            this.urls = response.data
            console.log(this.urls)
          })
        },
        showImg(index) {
          this.index = index
          this.visible = true
        },
        handleHide() {
          this.visible = false
        }

      },
      created: function () {
        this.CodeWars()
        this.codeChallenges()
        this.completedChallenges()
        this.completeCodeData()
        // this.titleWars()
      }
    })
    // app.component(VueEasyLightbox.default.name, VueEasyLightbox.default)
    // app.mount('#root')
  </script>
</body>

</html>