{% load static%}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vue-easy-lightbox@next/dist/vue-easy-lightbox.umd.min.js"></script>  
  <style>
    .top-col {
      font-family: 'Zen Tokyo Zoo', cursive;
      font-size: 4vw;
    }
    .data {
      font-family: 'Righteous', cursive;
      font-size: 2vw;
    }
    #app{
      background: url("{% static 'landingpageapp/background1.jpg' %}");
      background-size: cover;
    }
    #top-bar{
      background-color: whitesmoke !important;
      padding: 0;
      margin: 0 auto;
    }
  </style>
  <title>coding challenges</title>

</head>

<body>
  <div class="main">
    <div class="container-fluid sticky-top" id="top-bar">
      <div class='text-center'>
        <a target="_blank" href="https://www.codewars.com/users/Will-max-bit"><img class="text-center" src="https://www.codewars.com/users/Will-max-bit/badges/large"></a>
        
      </div>
      <div class="text-center my-1">
        <button type="button" class="btn btn-dark btn-lg mb-1 " data-bs-toggle="modal" data-bs-target="#exampleModal">
          Navigation
        </button>
      </div>
      <div class="row no-wrap">
        <div class="col top-col">
          Date
        </div>
        <div class="col top-col">
          Title
        </div>
        <div class="col top-col">
          Rank
        </div>
        <div class="col top-col">
          Language
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nav Panel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container">
            <div class="row">
              <div class="col">
                <a style="text-decoration: none !important; color:black !important;"
                  href="{% url 'landingpageapp:home_page'%}">
                  <img id='imgs' src="{% static 'landingpageapp/home.jpg'%}" class="img-thumbnail"
                    style="max-height: 50%;" alt="">
                  <h5 class="text-left">Home</h5>
                </a>
              </div>
              <div class="col">
                <a style="text-decoration: none !important; color:black !important"
                  href="{% url 'landingpageapp:projects'%}">
                  <img id='imgs' src="{% static 'landingpageapp/projects_edited.jpg'%}" class="img-thumbnail"
                    style="max-height: 50%;" alt="">
                  <h5 class="text-center">Projects</h5>
                </a>
              </div>
              <div class="col">
                <a style="text-decoration: none !important; color:black !important"
                  href="{% url 'landingpageapp:index'%}">
                  <img id='imgs' src="{% static 'landingpageapp/blog_edited.jpg'%}" class="img-thumbnail"
                    style="max-height: 50%;" alt="">
                  <h5 class="text-center">Learning blog</h5>
                </a>

              </div>
            </div>
          </div>
          <div class="modal-footer container justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Modal -->
    <div id="app">
      <div class="container-fluid">
        <hr>
        <div class="row no-wrap" v-for="code in posts">
          <div class="col data text-center">
            [[code.completed_date]]
          </div>
          <div class="col data text-center">
            [[code.title]]
          </div>
          <div class="col data text-center">
            [[code.rank]]
          </div>
          <div class="col text-center">
            <!-- [[code.language_name]] -->
            <img v-bind:src="code.language_logo" style="max-height: 3rem;" alt="">
          </div>
          <div class="row  p-0">
            <div class="col text-center">
              <img class=".img-fluid my-1" v-bind:src="code.code_image" alt="">
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="">
        <div
        v-for="(src, index) in imgs"
        :key='index'
        class='pic'
        @click="() => showImg(index)"
        >
        <img :src="src">
      </div>
      </div>
      <vue-easy-lightbox
      :visible="visible"
      :imgs="imgs"
      @hide="handleHide"
      ></vue-easy-lightbox>
    </div>
  </div>
  </div> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    let app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        visible: false,
        index: 0,
        posts: [],
        urls: [],
        imgs: [
          'https://placekitten.com/200/300',
          'https://placekitten.com/g/200/300',
          'https://placekitten.com/g/200/300',
          'https://placekitten.com/g/200/300',

        ]

      },
      methods: {
        CodeWars: function () {
          axios({
            url: "{% url 'landingpageapp:code_wars'%}",
            method: 'get',
          }).then(response => {
            this.posts = response.data.codewars_posts
            console.log(response.data)
          })
        },
        codeChallenges: function (){
          axios({
            url: "{% url 'landingpageapp:code_challenges'%}",
            method: 'get',
          }).then(response => {
            // console.log(response.data)
            this.urls = response.data
            console.log(this.urls)
          })
        },
        showImg (index) {
          this.index = index
          this.visible = true
        },
        handleHide () {
          this.visible = false
        }

      },
      created: function () {
        this.CodeWars()
        this.codeChallenges()
        // this.titleWars()
      }
    })
    app.component(VueEasyLightbox.default.name, VueEasyLightbox.default)
    app.mount('#root')
  </script>
</body>

</html>