{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>

  </style>
  <title>Landing Page</title>
</head>
<style>
  body {
    background-image: url('{% static "landingpageapp/home_bk.jpg" %}');
  }

  p {
    color: beige;
  }
  /* .cords{
    opacity: 0;
  } */
  /* #link-cards{
    float: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
</style>

<body>
  <div id="app">

    <div class="container">
      <div class="row mt-2">
        <div class="col">
          <div class="card rounded mx-auto d-block" style="width: 18rem; border:none;">
            <img src="{% static 'landingpageapp/profile_image.jpg'%}" class="card-img-top" alt="">
          </div>
        </div>
        <div class="col">
          <p class="text-center fs-3">
            Succulents cray cred, ut nulla church-key you probably haven't heard of them kickstarter YOLO consequat
            helvetica etsy lo-fi hammock everyday carry.
          </p>
        </div>
      </div>
      <div class="row">
        <p class="text-center fs-1">
          Plaid craft beer non mustache tumeric qui helvetica direct trade mlkshk four loko letterpress hammock 8-bit
          listicle. Prism 8-bit enamel pin shoreditch microdosing twee man braid dolore ennui meditation cornhole id
          flexitarian sed. Subway tile hell of ut enim adipisicing sriracha drinking vinegar fanny pack austin authentic
          chartreuse pork belly jianbing swag.
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="flex-row">
        <div class="col-sm">
          <div class="card mx-1 my-5 cords">
            <img id='link-cards'src="{% static 'landingpageapp/projects_edited.jpg'%}" class="card-img-top" alt="...">
          </div>
          <h5 class="card-title"><a href="{% url 'landingpageapp:projects' %}">Projects</a></h5>
        </div>
        <div class="col-sm">
          <div class="card mx-1 my-5 cords">
            <img id='link-cards'src="{% static 'landingpageapp/code5.jpg'%}" class="card-img-top" alt="...">
          </div>
          <h5 class="card-title"><a href="{% url 'landingpageapp:coding_challenges'%}">Coding challenges</a></h5>
        </div>
        <div class="col-sm">
          <div class="card mx-1 my-5 cords">
            <img id='link-cards'src="{% static 'landingpageapp/blog_edited.jpg'%}" class="card-img-top" alt="...">
          </div> 
          <h6 class="card-title"><a href="{% url 'landingpageapp:index'%}">learning blog</a> </h6>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    let app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        test: 'this is a test!!!!!'
      }
    })
  </script>
</body>

</html>