{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Projects</title>
  <style>
    .rainbow-text {
      background-image: linear-gradient(to left, red, violet, indigo, blue, green, yellow, orange, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>

</head>

<body>
<!-- carousel displaying projects here -->
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval='3000' transistion: transform 2s ease, opacity .5s ease-out>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'landingpageapp/cap1.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'landingpageapp/rose_tattoo.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'landingpageapp/poke.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'landingpageapp/moogle_img.jpg'%}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <hr>
<!-- projects pictures with links start here -->
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{% url 'landingpageapp:climb_up' %}">
          <img src="{% static 'landingpageapp/cb1.jpg'%}" class="img-fluid my-2" alt="">
        </a>
        <a href="{% url 'landingpageapp:moogle' %}">
          <img src="{% static 'landingpageapp/moogle_img.jpg'%}" class="img-fluid my-2" alt="">
        </a>
        <a href="{% url 'landingpageapp:rose_tat' %}">
          <img src="{% static 'landingpageapp/rose_tattoo.jpg'%}" class="img-fluid my-2" alt="">
        </a>
        <img src="{% static 'landingpageapp/poke.jpg'%}" class="img-fluid my-2" alt="">
      </div>
    </div>
  </div>



  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    <script>
      let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          projects: [],
          links: [
            { addy: 'http://127.0.0.1:8000/climb_up/' },
            { addy: 'http://127.0.0.1:8000/rose_tat/' }]
        },
        methods: {
          ProjectPictures: function () {
            axios({
              url: "{% url 'landingpageapp:project_pictures'%}",
              method: 'get',
            }).then(response => {
              this.projects = response.data.project_pictures
              console.log(response.data)
            })
          },
        },
        created: function () {
          this.ProjectPictures()
        }
      })
    </script>
</body>

</html>