{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Artist1</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'roseTattoApp:index'%}"><img
                    src="{% static 'roseTattoApp/testing_edited.jpg' %}" width="30" height="30" alt="..."></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'roseTattoApp:artists_page'%}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">General Shop FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Booking</a>
                    </li>
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Contact Us
                    </button>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <img src="{% static 'roseTattoApp/artistbackgroun1.jpg' %}" class="img-fluid mb-1" alt="">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; border:none;">
                    <img src="{% static 'roseTattoApp/artpf1.jpg' %}" class="card-img-top" alt="...">
                </div>


            </div>
            <div class="col">
                <p class="text-center fs-6 ">Dia Moeller, tattooing since 2010. Specializing in color and black and
                    grey realism, with a darker, Victorian, painterly look. Dia creatively combines portraits,
                    botanicals, animals, and the macabre and occult into a truly unique style.</p>
                <h1 class="text-center">How to book with Dia:</h1>
                <p>
                    Artists's bookings are currently closed, but she accepts new inquiries in batches every 2-3 months.
                    To see announcements on when her next booking period is, follow her on Instagram at <a
                        href="mailto:someone@yoursite.com">tattoos</a>
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap text-center">
        <!-- <div class="col"> -->
            <div class="row">
                <img src="{% static 'roseTattoApp/int1.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int3.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int2.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int4.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int5.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int6.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
            </div>
            <div class="row">
                <img src="{% static 'roseTattoApp/int7.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int8.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int9.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int10.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int11.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
                <img src="{% static 'roseTattoApp/int12.jpg'%}" class="img-thumbnail" style="width: 200px; height: 200px; border:none;" alt="">
            </div>
        <!-- </div> -->
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>


</html>